<!-- <h2 style="text-align: center;"><b>Welcome to my Home Page!</b></h2>
<hr/><br/>-->



  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <!-- <img [src]="imageurl" width="80%" />  -->
          <!-- <h1 class="fw-light">Welcome to Flight application</h1> -->
          <div class="float-right">
            <h1>Welcome to Flight application<br/> Please Login</h1>
          </div>
        </div>
      </div>
    </div>
  </header>